@model MvcGarage2.Models.VehiclePriceViewModel

@{
    ViewData["Title"] = "Avsluta parkering";
}

<h1>@ViewData["Title"]</h1>

<h3>Vill du avsluta parkering och skriva ut kvitto?</h3>
<h4>Varning - går inte att ångra!</h4>
<div>
    <hr />
    <partial name="_DetailsPartial" />
    <div class="form-group">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ParkedVehicle.Id" />
            <input type="submit" value="Bekräfta avsluta" class="btn btn-danger" />

            <a asp-action="Index">
                <input type="button" value="Avbryt" class="btn btn-secondary" />
            </a>
        </form>
    </div>
</div>
@*<partial name="_BackToIndexPartial" />*@
