@model MvcGarage2.Models.Member

@{
    ViewData["Title"] = "Avsluta medlemskap";
}

<h1>@ViewData["Title"]</h1>

<h3>Vill du avsluta detta medlemskap?</h3>
<h4>Varning - går inte att ångra!</h4>
<div>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Bekräfta avsluta medlemskap" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Till listan</a>
    </form>
    </div>
