@model MvcGarage2.Models.ParkedVehicleViewModel

@{
    ViewData["Title"] = "Parkera";
}

<h1>@ViewData["Title"]</h1>

<h4>Fordon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.RegistrationNumber" class="control-label"></label>
                <input asp-for="ParkedVehicle.RegistrationNumber" class="form-control" />
                <span asp-validation-for="ParkedVehicle.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Brand" class="control-label"></label>
                <input asp-for="ParkedVehicle.Brand" class="form-control" />
                <span asp-validation-for="ParkedVehicle.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.VehicleModel" class="control-label"></label>
                <input asp-for="ParkedVehicle.VehicleModel" class="form-control" />
                <span asp-validation-for="ParkedVehicle.VehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.NumberOfWheels" class="control-label"></label>
                <input asp-for="ParkedVehicle.NumberOfWheels" class="form-control" />
                <span asp-validation-for="ParkedVehicle.NumberOfWheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.VehicleType" class="control-label"></label>
                <select asp-for="ParkedVehicle.VehicleType" class="form-control" asp-items="Model.Types"></select>
                <span asp-validation-for="ParkedVehicle.VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Color" class="control-label"></label>
                <select asp-for="ParkedVehicle.Color" class="form-control" asp-items="Model.Colors"></select>
                <span asp-validation-for="ParkedVehicle.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inled parkering" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<partial name="_BackToIndexPartial" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
