@model MvcGarage2.Models.VehiclePriceViewModel

@{
    ViewData["Title"] = "Detailjer";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Pågående parkering</h4>
    <hr />
<partial name="_DetailsPartial"/>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.ParkedVehicle.Id"><input type="submit" value="Avsluta Parkering" class="btn btn-danger" /></a>
    <a asp-action="Edit" asp-route-id="@Model.ParkedVehicle.Id">Redigera</a>
</div>
<partial name="_BackToIndexPartial" />
