@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
    <a class="btn btn-info accept-policy" asp-action="Details" asp-route-id="@Model" role="button">Detaljer</a>
    <a class="btn btn-secondary d-none d-md-block" asp-action="Edit" asp-route-id="@Model" role="button">Redigera</a>
    <a class="btn btn-danger d-none d-md-block" asp-action="Delete" asp-route-id="@Model" role="button">Ta bort medlem</a>
</div>
